@import "variables.scss";

body {
	font: 18px/1 'Open Sans', sans-serif;
	background-color: #eee;
	margin: 50px;
	display: flex;
}

main {
	width: 75%;
	padding: 30px 20px;
	margin: 0 auto;
	background: #fff;

	.tablist {
		i {
			padding-right: 5px;
			font-size: 24px;
		}
		a .active {
			border-top: 2px solid #EEDD0B;
		}
	}
}

aside {
	width: 25%;
	padding: 0 20px;
	ul {
		padding: 20px 0;
	}
	.sublists {
		display: none;
	}
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	h1 {
		padding: 0;
		margin: 0;
	}
}

#content1 {
	padding: 20px 0;
}

#content2, #content3, #content4, #content5 {
	padding: 20px;
	font-family: sans-serif;
	font-size: 18px;
	white-space: pre-wrap;
}

.sec-heading {
	height: 50px;
	line-height: 50px;
	font-family: sans-serif;
	margin: 30px 0; 
	padding: 5px;
	font-size: 20px;
	color: $section-heading-color;
	background-color: $section-heading-background;
	text-align: left;
}

.lineline {
	width: 100%;
	margin: 50px auto 0;
	background: #f0f0f0;
	padding: 20px;
	overflow: auto;
	text-align: left;

	.lineline-numbers {
		width: 20px;
		border-right: 1px solid #ccc;
		padding-right: 5px;
		color: #777;
	}

	.lineline-lines {
		padding-left: 20px;
		white-space: pre;
		white-space: -moz-pre;
		white-space: -pre;
		white-space: -o-pre;
		word-wrap: break-word;
	}

	.lineline-code {
		font-family: 'Consolas';
		font-size: 16px;
		line-height: 18px;
		width: 100%;
		white-space: nowrap;
	}
}