/*Size*/
$height-default: 200px;
$width-default: 300px;

/*Spacing*/
$padding-default: 3px;
$margin-default: 1px; 

/*Colors*/
$default-background-color: #F0F0F0;
$section-heading-color: #ffffff;
$section-heading-background: #000;

/*Fonts*/
$section-heading-size: 20px;